@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body,
h1,
h2,
h3,
p,
button,
a {
  margin: 0;
  font-family: Poppins !important;
}
a {
  color: #ffffff;
  text-decoration: none;
}
ul {
  width: 90%;
  margin: auto !important;
}
.css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper {
  background-color: #142241 !important;
  justify-content: left;
  display: flex;
}
ul p {
  border-bottom: 2px solid #ffffff;
  line-height: 40px !important;
}
